<!DOCTYPE html>
<html>
<head>
    <title>DDSS PA2 - Part 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            display: inline-block;
            margin-right: 10px; /* Adjust the margin as needed */
        }
    </style>
    <!--
        V2 info:
        - corrected a few naming bugs in the inputs
        - fixed a few syntax issues in the HTML
        - added some explanations
    -->
</head>
<body>
    <div align="center">
        <h1>Design and Development of Secure Software</h1>
        <h2>Practical Assignment #2</h2>
        <div align="center">
            DISCLAIMER: This code is to be used in the scope of the <em>DDSS</em> course.
            <b>Important:</b> these sources are merely suggestions of implementations. 
            You should modify everything you deem as necessary and be responsible for all the content that is delivered.
            <em>The contents of this repository do not replace the proper reading of the assignment description.</em>
        </div>
        <br>
        <br>

        <form action="part1.html">
            <button type="submit">Part 1.1</button>
        </form>

        <form action="part2.html">
            <button type="submit">Part 1.2</button>
        </form>

        <form action="part3.html">
            <button type="submit">Part 1.3</button>
        </form>
        <br />
        <!--
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[0] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        -->
    </div>
</body>
</html>
